@model BRTF_Room_Booking_App.Models.GlobalSetting

@{
    ViewData["Title"] = "Global Settings";
}
@if (TempData["AlertMessage"] != null)
{
    <br />
    <div class="alert alert-success">
        @Html.Raw(TempData["AlertMessage"])
    </div>
    <br />
}
@if (TempData["Message"] != null)
{
    <br />
    <div class="alert alert-success">
        <strong>@Html.Raw(TempData["Message"])</strong>
    </div>
    <br />
}
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body style="background-color:#E4E6E6" class="justify-content-left">

    <h1>Global Settings</h1>
    <hr />
    <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2);" class="px-5 py-2 my-3">
    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <strong><label asp-for="StartOfTermDate" class="control-label"></label></strong>
                    @Html.DisplayFor(model => model.StartOfTermDate)
                </div>
                <div class="form-group">
                    <strong><label asp-for="EndOfTermDate" class="control-label"></label></strong>
                    @Html.DisplayFor(model => model.EndOfTermDate)
                </div>
                <div class="form-group">
                    <strong><label asp-for="LatestAllowableFutureBookingDay" class="control-label"></label></strong>
                    @Html.DisplayFor(model => model.LatestAllowableFutureBookingDay)
                </div>
            </div>
            <div class="col-md-6">
                <h5>Email Settings</h5>
                <div class="form-group form-check">
                    <strong>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="EmailBookingNotificationsOverride" disabled="disabled" /> @Html.DisplayNameFor(model => model.EmailBookingNotificationsOverride)
                        </label>
                    </strong>
                </div>
                <div class="form-group form-check">
                    <strong>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="PreventBookingNotificationsOverride" disabled="disabled" /> @Html.DisplayNameFor(model => model.PreventBookingNotificationsOverride)
                        </label>
                    </strong>
                </div>
                <div class="form-group form-check">
                    <strong>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="EmailCancelNotificationsOverride" disabled="disabled" /> @Html.DisplayNameFor(model => model.EmailCancelNotificationsOverride)
                        </label>
                    </strong>
                </div>
                <div class="form-group form-check">
                    <strong>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="PreventCancelNotificationsOverride" disabled="disabled" /> @Html.DisplayNameFor(model => model.PreventCancelNotificationsOverride)
                        </label>
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID" role="button" class="btn btn-primary mx-2 mb-4" style="width:100px;">Edit</a>
    </div>
    </section>
</body>