@model BRTF_Room_Booking_App.Models.GlobalSetting

@{
    ViewData["Title"] = "Edit Global Settings";
}
@if (TempData["AlertMessage"] != null)
{
    <br />
    <div class="alert alert-success">
        <strong>@Html.Raw(TempData["AlertMessage"])</strong>
    </div>
    <br />
}
@if (TempData["Message"] != null)
{
    <br />
    <div class="alert alert-success">
        <strong>@Html.Raw(TempData["Message"])</strong>
    </div>
    <br />
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body style="background-color:#E4E6E6" class="justify-content-left">
    <br/>
    <h1 class="text-center">Edit Global Settings</h1>
    <br />
    <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2); width: 70%; margin:auto" class="px-5 py-2 my-3">

        <br />
        <h4 class="text-center">Details</h4>
        <br />

            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label asp-for="StartOfTermDate" class="label"> Start of Term Date *</label>
                            <input asp-for="StartOfTermDate" class="form-control" />
                            <span asp-validation-for="StartOfTermDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EndOfTermDate" class="label"> End of Term Date *</label>
                            <input asp-for="EndOfTermDate" class="form-control" />
                            <span asp-validation-for="EndOfTermDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LatestAllowableFutureBookingDay" class="label"> Latest Allowable Future Booking Day *</label>
                            <input asp-for="LatestAllowableFutureBookingDay" class="form-control" />
                            <span asp-validation-for="LatestAllowableFutureBookingDay" class="text-danger"></span>
                        </div>
                        <br/>
                        <h5 class="text-center">Email Settings</h5>
                        <br/>
                        <div class="form-group form-check">
                                <label>
                                    <input class="form-check-input" asp-for="EmailBookingNotificationsOverride" /> @Html.DisplayNameFor(model => model.EmailBookingNotificationsOverride)
                                </label>
                        </div>
                        <div class="form-group form-check">
                                <label>
                                    <input class="form-check-input" asp-for="PreventBookingNotificationsOverride" /> @Html.DisplayNameFor(model => model.PreventBookingNotificationsOverride)
                                </label>
                        </div>
                        <div class="form-group form-check">
                                <label>
                                    <input class="form-check-input" asp-for="EmailCancelNotificationsOverride" /> @Html.DisplayNameFor(model => model.EmailCancelNotificationsOverride)
                                </label>
                        </div>
                        <div class="form-group form-check">
                                <label>
                                    <input class="form-check-input" asp-for="PreventCancelNotificationsOverride" /> @Html.DisplayNameFor(model => model.PreventCancelNotificationsOverride)
                                </label>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Save" class="btn btn-primary mx-2 mb-4" style="width:100px" />
                    <a asp-area="" asp-controller="GlobalSettings" asp-action="Details" asp-route-id="1" role="button" class="btn btn-secondary mx-2 mb-4" style="width:100px;color: #E4E6E6;">Back</a>
                </div>
            </form>
    </section>
</body>
