@model IEnumerable<BRTF_Room_Booking_App.ViewModels.BookingSummary>

@{
    ViewData["Title"] = "Admin Reports";
}

<br/>
<h1 class="mb-4 text-center">Admin Reports</h1>
<br/>

<section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2);" class="px-5 py-2 my-3">
    <br />
    <h4 class="text-center">Booking Summary</h4>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoomName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfAppointments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalHours)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfAppointments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalHours)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</section>