@model IEnumerable<BRTF_Room_Booking_App.ViewModels.BookingSummary>

@{
    ViewData["Title"] = "Admin Reports";
}

<br/>
<h1 class="mb-4 text-center">Admin Reports</h1>
<br/>

<section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2);" class="px-5 py-2 my-3">
    <br />
    <h4 class="text-center">Booking Summary</h4>
    <br />
    <form asp-action="BookingSummary" method="get">
            <div class="form-horizontal align-items-start text-left justify-content-start my-3">
                <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                    Filter/Search
                </button>
                <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
                    <div class="card card-body bg-light">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Bookings From:</label>
                                @Html.TextBox("start", null, new { @class = "form-control", @type = "date" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Bookings Before:</label>
                                @Html.TextBox("end", null, new { @class = "form-control", @type = "date" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Search Room:</label>
                                @Html.TextBox("SearchRoom", null, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Search by Area:</label>
                                @Html.DropDownList("RoomGroupID", null, "All Areas", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 align-self-end">
                                <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                                <a asp-action="BookingSummary" class="btn btn-outline-dark">Clear</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoomName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomGroup)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfAppointments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalHours)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfAppointments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalHours)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</section>