
@model BRTF_Room_Booking_App.Models.Room
@{
    ViewData["Title"] = "Delete Room";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body class="justify-content-center">
    <br />
    <h1 class="mb-4 text-center">Delete</h1>
    <br />

    <div class="container-fluid d-block d-lg-none" style="display:block;">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card mb-sm-3" style="min-width: 18rem;">
                    <h5 class="card-header text-center">Are you sure you want to delete this Room?</h5>
                    <div class="card-body">
                        <div class="media-body ml-2 mb-3">
                            <div class="card-text mb-3"><strong>Room: </strong>@Html.DisplayFor(model => model.RoomName) </div>
                            <div class="card-text mb-3"><strong>Area: </strong>@Html.DisplayFor(model => model.RoomGroup.AreaName) </div>
                            <div class="card-text mb-3"><strong>Maximum Total Hours That Can Be Booked in This Room: </strong>@Html.DisplayFor(model => model.RoomMaxHoursTotal) </div>
                            <div class="card-text">
                                <strong>Is Enabled: </strong>
                                <div class="form-group form-check">
                                    <input class="form-check-input" asp-for="Enabled" disabled /> @Html.DisplayNameFor(model => model.Enabled)
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <form asp-action="Delete" class="d-flex justify-content-center">
                                <input type="hidden" asp-for="ID" />
                                <input type="submit" value="Delete" class="btn btn-danger mx-1" style="width:100px;" />
                                <a href='@ViewData["returnURL"]' class="btn btn-secondary mx-1">Back to Rooms</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2); width: 60%; margin:auto" class="px-5 py-2 my-3 d-none d-lg-block">
        <div>
            <br />
            <h4 class="text-center">Are you sure you want to delete this Room?</h4>
            <br />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="row">
                    <div class="col-6 text-right py-2">
                        <label asp-for="RoomName" class="label"></label>
                    </div>
                    <div class="col-6 py-2">
                        @Html.DisplayFor(model => model.RoomName)
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right py-2">
                        <label asp-for="RoomGroupID" class="label">Area</label>
                    </div>
                    <div class="col-6 py-2">
                        @Html.DisplayFor(model => model.RoomGroup.AreaName)
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right py-2">
                        <label asp-for="RoomMaxHoursTotal" class="label"></label>
                    </div>
                    <div class="col-6 py-2">
                        @Html.DisplayFor(model => model.RoomMaxHoursTotal)
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right py-2">
                        <label class="label">Is Enabled</label>
                    </div>
                    <div class="col-6 pt-2">
                        <div class="form-group form-check">
                            <input class="form-check-input" asp-for="Enabled" disabled /> @Html.DisplayNameFor(model => model.Enabled)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="d-flex justify-content-center">
            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Delete" class="btn btn-danger mx-2" style="width:100px;" />
                <a href='@ViewData["returnURL"]' class="btn btn-secondary mx-2">Back to Rooms</a>
            </form>
        </div>
        <br />
    </section>
</body>
