@model BRTF_Room_Booking_App.Models.Room
@{
    ViewData["Title"] = "Room Details";
}
@if (TempData["AlertMessage"] != null)
{
    <br />
    <div class="alert alert-success">
        @Html.Raw(TempData["AlertMessage"])
    </div>
    <br />
}
@if (TempData["Message"] != null)
{
    <br />
    <div class="alert alert-success">
        <strong>@Html.Raw(TempData["Message"])</strong>
    </div>
    <br />
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body class="justify-content-center">

    <br />
    <h1 class="mb-4 text-center">Details</h1>
    <br />
    <div>
        <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2); width: 55%; margin:auto" class="px-5 py-2 my-3">
            <div>
                <br />
                <h4 class="text-center">Room Details</h4>
                <br />
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="row">
                        <div class="col-6 text-right py-2">
                            <label asp-for="RoomGroupID" class="label">Area</label>
                        </div>
                        <div class="col-6 py-2">
                            @Html.DisplayFor(model => model.RoomGroup.AreaName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-right py-2">
                            <label asp-for="RoomName" class="label"></label>
                        </div>
                        <div class="col-6 py-2">
                            @Html.DisplayFor(model => model.RoomName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-right py-2">
                            <label asp-for="RoomMaxHoursTotal" class="label"></label>
                        </div>
                        <div class="col-6 py-2">
                            @Html.DisplayFor(model => model.RoomMaxHoursTotal)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-right py-2">
                            <label class="label">Is Enabled</label>
                        </div>
                        <div class="col-6 pt-2">
                            <div class="form-group form-check">
                                <input class="form-check-input" asp-for="Enabled" disabled /> @Html.DisplayNameFor(model => model.Enabled)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="d-flex justify-content-center">
                <a asp-action="Edit" asp-route-id="@Model.ID" role="button" class="btn btn-primary mx-2" style="width:100px;">Edit</a>
                <a href='@ViewData["returnURL"]' role="button" class="btn btn-secondary mx-2">Back to Rooms</a>
            </div>
            <br />
        </section>
    </div>
</body>

