@model BRTF_Room_Booking_App.Models.Room
@{
    ViewData["Title"] = "Room Details";
}
@if (TempData["AlertMessage"] != null)
{
    <br />
    <div class="alert alert-success">
        @Html.Raw(TempData["AlertMessage"])
    </div>
    <br />
}
@if (TempData["Message"] != null)
{
    <br />
    <div class="alert alert-success">
        <strong>@Html.Raw(TempData["Message"])</strong>
    </div>
    <br />
}
<body style="background-color:#E4E6E6" class="justify-content-left">

    <br />
    <h1 class="mb-4 text-center">Details</h1>
    <br />
    <div>
        <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2); width: 40%; margin:auto" class="px-5 py-2 my-3">
            <div>
                <br />
                <h4 class="text-center">Room Information</h4>
                <br />
            </div>
            <div class="row">
                <div class="col-md-14">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="row">
                        <div class="col-5 text-right pt-2">
                            <strong><label asp-for="RoomGroupID" class="control-label">Area:</label></strong>
                        </div>
                        <div class="col-5 pt-2">
                            @Html.DisplayFor(model => model.RoomGroup.AreaName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 text-right pt-2">
                            <strong><label asp-for="RoomName" class="control-label"></label></strong>
                        </div>
                        <div class="col-5 pt-2">
                            @Html.DisplayFor(model => model.RoomName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 text-right pt-2">
                            <strong><label asp-for="RoomMaxHoursTotal" class="control-label"></label></strong>
                        </div>
                        <div class="col-5 pt-2">
                            @Html.DisplayFor(model => model.RoomMaxHoursTotal)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 text-right pt-2">
                        </div>
                        <div class="col-5 pt-2">
                            <div class="form-group form-check">
                                <strong>
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Enabled" disabled /> @Html.DisplayNameFor(model => model.Enabled)
                                    </label>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="d-flex justify-content-center">
                <a asp-action="Edit" asp-route-id="@Model.ID" role="button" class="btn btn-primary mx-2" style="width:100px;">Edit</a>
                <a href='@ViewData["returnURL"]' role="button" class="btn btn-secondary mx-2">Back to Rooms</a>
            </div>
            <br />
        </section>
    </div>
</body>

