@model BRTF_Room_Booking_App.Models.User

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container-white">
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.MiddleName)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.MiddleName)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.EmailBookingNotifications)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.EmailBookingNotifications)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.EmailCancelNotifications)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.EmailCancelNotifications)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.TermAndProgram)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.TermAndProgram.TermAndProgramSummary)
            </dd>
            <dt class="col-sm-5">
                Role
            </dt>
            <dd class="col-sm-7">
                @ViewBag.Role
            </dd>
        </dl>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
