@model BRTF_Room_Booking_App.Models.User

@{
    ViewData["Title"] = "User Details";
}
@if (TempData["AlertMessage"] != null)
{
    <br />
    <div class="alert alert-success">
        @Html.Raw(TempData["AlertMessage"])
    </div>
    <br />
}
@if (TempData["Message"] != null)
{
    <br />
    <div class="alert alert-success">
        <strong>@Html.Raw(TempData["Message"])</strong>
    </div>
    <br />
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body style="background-color:#E4E6E6" class="justify-content-left">
    <br />
    <h1 class="mb-4 text-center">Details</h1>
    <br />

    <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2); width: 65%; margin:auto" class="px-5 py-2 my-3">
        <div>
            <br />
            <h4 class="text-center">User Details</h4>
            <br />
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="row">
                    <div class="col-6 text-right pt-2">
                        <label asp-for="Username" class="label">Username</label>
                    </div>
                    <div class="col-6 pt-2">
                        @Html.DisplayFor(model => model.Username)
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right pt-2">
                        <label asp-for="FirstName" class="label"></label>
                    </div>
                    <div class="col-6 pt-2">
                        @Html.DisplayFor(model => model.FirstName)
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right pt-2">
                        <label asp-for="MiddleName" class="label"></label>
                    </div>
                    <div class="col-6 pt-2">
                        @Html.DisplayFor(model => model.MiddleName)
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right pt-2">
                        <label asp-for="LastName" class="label"></label>
                    </div>
                    <div class="col-6 pt-2">
                        @Html.DisplayFor(model => model.LastName)
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right py-2">
                        <label asp-for="Email" class="label"></label>
                    </div>
                    <div class="col-6 py-2">
                        @Html.DisplayFor(model => model.Email)
                    </div>
                </div>
                <div class="row justify-content-center pt-2">
                    <label class="label">
                        <input class="form-check-input" asp-for="EmailBookingNotifications" disabled="disabled" /> @Html.DisplayNameFor(model => model.EmailBookingNotifications)
                    </label>
                </div>
                <div class="row justify-content-center py-2">
                    <label class="label">
                        <input class="form-check-input" asp-for="EmailCancelNotifications" disabled="disabled" /> @Html.DisplayNameFor(model => model.EmailCancelNotifications)
                    </label>
                </div>
                <div class="row">
                    <div class="col-6 text-right pt-2">
                    <label asp-for="TermAndProgramID" class="label"></label>
                    </div>
                    <div class="col-6 pt-2">
                    @Html.DisplayFor(model => model.TermAndProgram.TermAndProgramSummary)
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right pt-2">
                    <label for="Role" class="label">Role</label>
                    </div>
                    <div class="col-6 pt-2">
                    @ViewBag.Role
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="d-flex justify-content-center">
            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary mx-2" style="width:100px;">Edit</a>
            @if (User.IsInRole("Admin") || User.IsInRole("Top-level Admin"))
            {
                <a href='@ViewData["returnURL"]' class="btn btn-secondary mx-2">Back to Users</a>
            }
        </div>
        <br />
    </section>

</body>

