@model BRTF_Room_Booking_App.Models.TermAndProgram

@{
    ViewData["Title"] = "Delete Term & Program";
}
<body style="background-color:#E4E6E6" class="justify-content-left">

    <br />
    <h1 class="mb-4">Details</h1>
    <br />
    <div>
        <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2);" class="px-5 py-2 my-3">
            <div>
                <br />
                <h4>Are you sure you want to delete this Term and Program?</h4>
                <br />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                <div class="row">
                    <div class="col-4 text-right pt-2">
                        <strong><label asp-for="ProgramName" class="control-label"></label></strong>
                    </div>
                    <div class="col-5 pt-2">
                        @Html.DisplayFor(model => model.ProgramName)
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 text-right pt-2">
                        <strong><label asp-for="ProgramCode" class="control-label"></label></strong>
                    </div>
                    <div class="col-5 pt-2">
                        @Html.DisplayFor(model => model.ProgramCode)
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 text-right pt-2">
                        <strong><label asp-for="ProgramLevel" class="control-label"></label></strong>
                    </div>
                    <div class="col-5 pt-2">
                        @Html.DisplayFor(model => model.ProgramLevel)
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 text-right pt-2">
                        <strong><label asp-for="UserGroupID" class="control-label"></label></strong>
                    </div>
                    <div class="col-5 pt-2">
                        @Html.DisplayFor(model => model.UserGroup.UserGroupName)
                    </div>
                </div>
                </div>
            </div>
            <br/>
            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Delete" class="btn btn-danger" style="width:100px;" />
                <a href='@ViewData["returnURL"]' role="button" class="btn btn-secondary mx-2">Back to Terms and Programs</a>
            </form>
            <br/>
        </section>
    </div>
</body>
