@model BRTF_Room_Booking_App.Models.TermAndProgram

@{
    ViewData["Title"] = "Term & Program Details";
}
<body style="background-color:#E4E6E6" class="justify-content-left">

    <br />
    <h1 class="mb-4">Details</h1>
    <br />
    <div>
        <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2);" class="px-5 py-2 my-3">
            <div>
                <br />
                <h4>Term & Program Information</h4>
                <br />
            </div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProgramName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProgramName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProgramCode)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProgramCode)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProgramLevel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProgramLevel)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserGroup)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserGroup.UserGroupName)
                </dd>
            </dl>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.ID" role="button" class="btn btn-primary mx-2" style="width:100px;">Edit</a>
                <a asp-action="Index" role="button" class="btn btn-secondary mx-2" style="width:100px;">Back</a>
            </div>
        </section>
    </div>
</body>
