@model IEnumerable<BRTF_Room_Booking_App.Models.UserGroup>

@{
    ViewData["Title"] = "Index";
}

<br />
<h1 style="text-align: center;">User Groups</h1>
<br/>

<section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2);" class="px-3 py-3 my-3">
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <form asp-action="Index" method="get">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserGroupName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomUserGroupPermissions)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserGroupName)
                    </td>
                    <td>
                        @foreach (var r in item.RoomUserGroupPermissions)
                        {
                            @r.RoomGroup.AreaName <br/>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" role="button" class="btn mx-2" style="width:75px; background:#2F7DBB; color:#E4E6E6; font-weight:400;">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ID" role="button" class="btn mx-2" style="width:75px; background:#2F7DBB; color:#E4E6E6; font-weight:400;">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ID" role="button" class="btn mx-2" style="width:75px; background:#2F7DBB; color:#E4E6E6; font-weight:400;">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <partial name="_PagingNavBar" />
    </form>
</section>