@model IEnumerable<BRTF_Room_Booking_App.Models.UserGroup>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["AlertMessage"] != null)
{
    <br />
    <div class="alert alert-success">
        @Html.Raw(TempData["AlertMessage"])
    </div>
    <br />
}
@if (TempData["Message"] != null)
{
    <br />
    <div class="alert alert-success">
        <strong>@Html.Raw(TempData["Message"])</strong>
    </div>
    <br />
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body style="background-color:#E4E6E6" class="align-items-center justify-content-center">
    <br />
    <h1 style="text-align: center;">User Groups</h1>
    <br />

    <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2);" class="px-3 py-4 my-3">
        <div>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
        <br />
        <form asp-action="Index" method="get">
            <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
            <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
            <div class="form-horizontal">
                <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                    Filter/Search
                </button>
                <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
                    <div class="card card-body bg-light">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Search User Group:</label>
                                @Html.TextBox("SearchString", null, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4 align-self-end">
                                <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                                <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <input type="submit" name="actionButton" value="User Group" class="btn btn-link" style="font-weight:700" />
                        </th>
                        <th>
                            <input type="submit" disabled="disabled" value="Room Group Permissions" class="btn btn-link" style="font-weight:700" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserGroupName)
                            </td>
                            <td>
                                @foreach (var r in item.RoomUserGroupPermissions)
                                {
                                    @r.RoomGroup.AreaName <br />
                                }
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID" role="button" class="btn mx-2" style="width:75px; background:#2F7DBB; color:#E4E6E6; font-weight:400;">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.ID" role="button" class="btn mx-2" style="width:75px; background:#2F7DBB; color:#E4E6E6; font-weight:400;">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.ID" role="button" class="btn mx-2" style="width:75px; background:#2F7DBB; color:#E4E6E6; font-weight:400;">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <partial name="_PagingNavBar" />
        </form>
    </section>
</body>