@model IEnumerable<BRTF_Room_Booking_App.Models.UserGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>User Groups</h1>

<p>
    <a asp-action="Create" class="btn btn-primary m-4">Add New User Group</a>
</p>
<section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2);" class="px-5 py-2 my-3">
<form asp-action="Index" method="get">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserGroupName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserGroupName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" role="button" class="btn btn-primary mx-2" style="width:75px;">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ID" role="button" class="btn btn-primary mx-2" style="width:75px;">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ID" role="button" class="btn btn-primary mx-2" style="width:75px;">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>
</section>