@model BRTF_Room_Booking_App.Models.RoomGroup

@{
    ViewData["Title"] = "Create Room Group";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body class="justify-content-center">
    <br />
    <h1 class="mb-4 text-center">Create</h1>
    <br />

    <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2); width: 80%; margin:auto" class="px-5 py-2 my-3">
        <div>
            <br />
            <h4 class="text-center">Create New Room Group</h4>
            <br />
        </div>
        <form asp-action="Create">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="AreaName" class="label">Area Name *</label>
                        <input asp-for="AreaName" id="areaNameInput" class="form-control" />
                        <span asp-validation-for="AreaName" id="areaNameError" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BlackoutTime" class="label">Blackout Time *</label>
                        <input asp-for="BlackoutTime" id="blackoutTimeInput" class="form-control" />
                        <span asp-validation-for="BlackoutTime" id="blackoutTimeError" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxHoursPerSingleBooking" class="label"></label>
                        <input asp-for="MaxHoursPerSingleBooking" class="form-control" />
                        <span asp-validation-for="MaxHoursPerSingleBooking" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxHoursTotal" class="label"></label>
                        <input asp-for="MaxHoursTotal" class="form-control" />
                        <span asp-validation-for="MaxHoursTotal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxNumberOfBookings" class="label"></label>
                        <input asp-for="MaxNumberOfBookings" class="form-control" />
                        <span asp-validation-for="MaxNumberOfBookings" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="button" title="Earliest Time Help" class="btn btn-sm" data-container="body" data-toggle="popover" data-placement="left" data-content="Please select the earliest time you would like bookings to be able to be made for this area. If you would like this area to be available 24 hours please set this field to 12:00am.">
                            <img src="~/img/questionmark.png" width="30" height="30" />
                        </button>
                        <label asp-for="EarliestTime" class="label">Earliest Time a Booking Can be Made in This Area *</label>
                        <input asp-for="EarliestTime" id="earliestTimeInput" type="time" class="form-control" />
                        <span id="earliestTimeError" class="text-danger"></span>
                        <span asp-validation-for="EarliestTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="button" title="Latest Time Help" class="btn btn-sm" data-container="body" data-toggle="popover" data-placement="left" data-content="Please select the latest time you would like bookings to be able to be made for this area. If you would like this area to be available 24 hours please set this field to 11:30pm.">
                            <img src="~/img/questionmark.png" width="30" height="30" />
                        </button>
                        <label asp-for="LatestTime" class="label">Latest Time a Booking Can be Made in This Area *</label>
                        <input asp-for="LatestTime" id="latestTimeInput" type="time" class="form-control" />
                        <span id="latestTimeError" class="text-danger"></span>
                        <span asp-validation-for="LatestTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="label">Is Enabled</label>
                        <div class="form-group form-check">
                            <input class="form-check-input" asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">Needs Approval</label>
                        <div class="form-group form-check">
                            <input class="form-check-input" asp-for="NeedsApproval" /> @Html.DisplayNameFor(model => model.NeedsApproval)
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="selectedOptions" class="control-label"><strong>Current Approvers</strong></label> <button type="button" title="Remove Approvers from Area" id="btnRight" class="btn btn-danger btn-sm">
                                <strong>➖</strong>
                            </button>
                            @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control", @style = "height: 90%;" })
                        </div>
                        <div class="col-md-6">
                            <label for="availOptions" class="control-label"><strong>Add Approvers to Area</strong></label> <button type="button" title="Add Approvers to Area" id="btnLeft" class="btn btn-success btn-sm">
                                <strong>➕</strong>
                            </button>
                            @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control", @style = "height: 90%;" })
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="d-flex justify-content-center">
                <input type="submit" value="Create" class="btn btn-primary mx-2" style="width:100px;" />
                <a href='@ViewData["returnURL"]' role="button" class="btn btn-secondary mx-2">Back to Room Groups</a>
            </div>
            <br />
        </form>
    </section>
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script tye="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
    <script src="~/js/multiselect.js"></script>
    <script src="~/js/refreshListbox.js"></script>

    <script>
        $("#areaNameInput").on("input", function () {
            if ($("#areaNameInput").val().length == 0) {
                $("#areaNameError").html("Please enter an area name, up to a maximum of 100 characters.");
            }
            else {
                $("#areaNameInputError").html("");
            }
        });
        $("#blackoutTimeInput").on("input", function () {
            if ($("#blackoutTimeInput").val().length == 0) {
                $("#blackoutTimeError").html("Please enter a blackout time, in hours.");
            }
            else {
                $("#blackoutTimeError").html("");
            }
        });
        $("#earliestTimeInput").change(function () {
            console.log($("#earliestTimeInput").val())
            if ($("#earliestTimeInput").val().length == 0 || new Date("2000-01-01T" + $("#earliestTimeInput").val() + ":00") > new Date("2000-01-01T" + $("#latestTimeInput").val() + ":00")) {
                $("#earliestTimeError").html("The earliest time cannot be after the latest time. Please select a new time.");
            }
            else {
                $("#earliestTimeError").html("");
            }
        });
        $("#latestTimeInput").change(function () {
            if ($("#latestTimeInput").val().length == 0 || new Date("2000-01-01T" + $("#latestTimeInput").val() + ":00") < new Date("2000-01-01T" + $("#earliestTimeInput").val() + ":00")) {
                $("#latestTimeError").html("The latest time must occur after the selected earliest start time. Please select a new time.");
            }
            else {
                $("#latestTimeError").html("");
            }
        });
    </script>
    <script>
        $("#userGroupInput").on("input", function () {
            if ($("#userGroupInput").val().length == 0) {
                $("#userGroupError").html("Please enter a User Group name, up to a maximum of 20 characters.");
            }
            else {
                $("#userGroupError").html("");
            }
        });
        $("#btnRight").click(function () {
            console.log($("#selectedOptions").val().length)
            if ($("#selectedOptions").val().length == 1) {
                console.log("hi!")
                $("#selectedOptionsError").html("User Groups need at least 1 Room Group for a permission.");
            }
            else {
                $("#selectedOptionsError").html("");
            }
        });
    </script>
}
