@model BRTF_Room_Booking_App.Models.RoomGroup

@{
    ViewData["Title"] = "Room Group Details";
}
@if (TempData["AlertMessage"] != null)
{
    <br />
    <div class="alert alert-success">
        @Html.Raw(TempData["AlertMessage"])
    </div>
    <br />
}
@if (TempData["Message"] != null)
{
    <br />
    <div class="alert alert-success">
        <strong>@Html.Raw(TempData["Message"])</strong>
    </div>
    <br />
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body class="justify-content-center">
    <br />
    <h1 class="mb-4 text-center">Details</h1>
    <br />

    <div>
        <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2); width: 80%; margin:auto" class="px-5 py-2 my-3">
            <div>
                <br />
                <h4 class="text-center">Room Group Details</h4>
                <br />
            </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-6 text-right py-2">
                                <label asp-for="AreaName" class="label"></label>
                            </div>
                            <div class="col-6 py-2">
                                @Html.DisplayFor(model => model.AreaName)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-right py-2">
                                <label asp-for="Description" class="label"></label>
                            </div>
                            <div class="col-6 py-2">
                                @Html.DisplayFor(model => model.Description)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-right py-2">
                                <label asp-for="BlackoutTime" class="label"></label>
                            </div>
                            <div class="col-6 py-2">
                                @Html.DisplayFor(model => model.BlackoutTime)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-right py-2">
                                <label asp-for="MaxHoursPerSingleBooking" class="label"></label>
                            </div>
                            <div class="col-6 py-2">
                                @Html.DisplayFor(model => model.MaxHoursPerSingleBooking)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-right py-2">
                                <label asp-for="MaxHoursTotal" class="label"></label>
                            </div>
                            <div class="col-6 py-2">
                                @Html.DisplayFor(model => model.MaxHoursTotal)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-right py-2">
                                <label asp-for="MaxNumberOfBookings" class="label"></label>
                            </div>
                            <div class="col-6 py-2">
                                @Html.DisplayFor(model => model.MaxNumberOfBookings)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-right pt-2">
                                <label class="label">Is Enabled</label>
                            </div>
                            <div class="col-6 py-2">
                                <div class="form-group form-check">
                                    <input class="form-check-input align-content-end" asp-for="Enabled" disabled /> @Html.DisplayNameFor(model => model.Enabled)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="d-flex justify-content-center">
                    <a asp-action="Edit" asp-route-id="@Model.ID" role="button" class="btn btn-primary mx-2" style="width:100px;">Edit</a>
                    <a href='@ViewData["returnURL"]' role="button" class="btn btn-secondary mx-2">Back to Room Groups</a>
                </div>
                <br />
        </section>
    </div>
</body>
