@model BRTF_Room_Booking_App.Models.RoomGroup

@{
    ViewData["Title"] = "Room Group Details";
}
@if (TempData["AlertMessage"] != null)
{
    <br />
    <div class="alert alert-success">
        @Html.Raw(TempData["AlertMessage"])
    </div>
    <br />
}
@if (TempData["Message"] != null)
{
    <br />
    <div class="alert alert-success">
        <strong>@Html.Raw(TempData["Message"])</strong>
    </div>
    <br />
}
<body style="background-color:#E4E6E6" class="justify-content-left">

    <br />
    <h1 class="mb-4">Details</h1>
    <br />

    <div>
        <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2);" class="px-5 py-2 my-3">
            <div>
                <br />
                <h4>Room Group Information</h4>
                <br />
            </div>
            <div class="container">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong><label asp-for="AreaName" class="control-label"></label></strong>
                            <input asp-for="AreaName" class="form-control" disabled />
                            <span asp-validation-for="AreaName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <strong><label asp-for="Description" class="control-label"></label></strong>
                            <textarea asp-for="Description" class="form-control" disabled></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <strong><label asp-for="BlackoutTime" class="control-label"></label></strong>
                            <input asp-for="BlackoutTime" class="form-control" disabled />
                            <span asp-validation-for="BlackoutTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong><label asp-for="MaxHoursPerSingleBooking" class="control-label"></label></strong>
                            <input asp-for="MaxHoursPerSingleBooking" class="form-control" disabled />
                            <span asp-validation-for="MaxHoursPerSingleBooking" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <strong><label asp-for="MaxHoursTotal" class="control-label"></label></strong>
                            <input asp-for="MaxHoursTotal" class="form-control" disabled />
                            <span asp-validation-for="MaxHoursTotal" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <strong><label asp-for="MaxNumberOfBookings" class="control-label"></label></strong>
                            <input asp-for="MaxNumberOfBookings" class="form-control" disabled />
                            <span asp-validation-for="MaxNumberOfBookings" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <strong>
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Enabled" disabled /> @Html.DisplayNameFor(model => model.Enabled)
                                </label>
                            </strong>
                        </div>
                    </div>
                </div>
                <br/>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.ID" role="button" class="btn btn-primary mx-2" style="width:100px;">Edit</a>
                        <a href='@ViewData["returnURL"]' role="button" class="btn btn-secondary mx-2">Back to Room Groups</a>
                    </div>
                <br/>
            </div>
        </section>
    </div>
</body>
